<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/styles.css" media="screen">
    <script src="/script.js"></script>
    <title></title>
  </head>
  <body>
    <ul id="navbar" class="topnav">
       <li class="icon">
           <a href="javascript:void(0);"
         onclick="myFunction()"> &#9776; </a>
       </li>
       <li class="navlink"><a href="/">Home</a></li>
       <li class="navlink"><a href="/sessions/login">My Info</a></li>
       <li class="navlink"><a href="/users">Users Page</a></li>
       <li class="navlink"><a href="/About">About</a></li>
     </ul>

    {{{body}}}
  </body>
</html>
