<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <a href="/">home</a>
      <a href="/sessions/login">Login</a>
      <a href="/users/signup">sign up</a>
    </nav>

    {{{body}}}
  </body>
</html>
