
<!-- for will show a login page -->
<form class="" action="/sessions/login" method="post">
  <input type="text" name="email" value="Email">
  <input type="text" name="password" value="Password">
  <input type="submit" name="" value="Log in">
</form>

{{#each}}

{{/each}}
