<h1> Sign-in Here! </h1>
<br>
<form action="/sessions/login" method="post">
  <div>
    <label for="email"> email</label>
    <input type="text" name="email">
  </div>
  <div>
    <label for="password">password</label>
    <input type="text" name="password">
  </div>
  <input type="submit" value="submit">
</form>
<a href="/users/signup"> Not Signed up Yet? </a>
