<h1> Sign Up Form </h1>

<form action="/users" method="post">
  <div>
    <label for="username"> username: </label>
    <input type="text" name="username" placeholder="username">
  </div>
  <br>
  <div>
    <label for="email"> e-mail:  </label>
    <input type="text" name="email" placeholder="email">
  </div>
  <br>
  <div>
    <label for="password"> password: </label>
    <input type="text" name="password" placeholder="password">
  </div>
  <br>

  <input type="submit" value="Submit">
</form>
