<form class="" action="/users/login" method="post">
  <input type="text" name="email" value="Email">
  <input type="text" name="password" value="Password">
  <input type="submit" name="" value="Log in">
</form>
