<form action="/users/{{user.id}}/products/{{product.id}}?_method=PUT" method="POST">
  <input type="text" name="name" value="name"><br>
  <input type="text" name="productt" value="phone number"><br>
  <input type="text" name="uses" value="uses"><br>
  <input type="text" name="routine" value="routine"><br>
  <input type="text" name="favorites" value="details"><br>
  <input type="text" name="rating" value="rating"><br>
  <input type="text" name="details" value="rating"><br>
  <input type="text" name="bought" value="bought"><br>
  <input type="text" name="refill" value="refill"><br>

</form>
