<section class="content">
  <form class="" action="/products" method="post">
    <h3>Newest Product</h3>
    Products info <br>
    <ul>
      <li>
        Product: <input type="text" name="name" value="product">
      </li>
      <li>
        Uses: <input type="text" name="uses" value="daily/weekly">
      </li>
      <li>
        Routine <input type="text" name="routine" value="morning/nighttime">
      </li>
      <li>
        Favorites: <input type="text" name="favorites" value="yes/no">
      </li>
      <li>
        Refill: <input type="text" name="details" value="every 3 months">
      </li>
      <li>
        Rating: <input type="text" name="rating" value="5">
      </li>
      <li>
        Details:
        <textarea name="description" rows="8" cols="80"> What do you love about this product? Do you have usage preferences? Would you buy this again? Why? </textarea>
      </li>
    </ul>
    <input type="submit" name="" value="Submit new Product">



  </form>
</section>
