<h2>{{product.name}}</h1>

<form class="" action="/products/{{_id}}?_method=delete" method="post">
  <input type="submit" name="" value="Delete">
</form>

<a href="/users/{{user._id}}">Return to Home Page</a>
